
/* ---- Base Rules ---- */  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, #48dbfb, #dff9fb);
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
    font-family: 'Merriweather', serif;
}
@keyframes gradient {

    0% {

        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;

    }

}
/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 2em 2rem;
   
}
h2 {
    border-bottom: 0.1vw solid #02b3e4;
    font-family: 'Oxygen', Sans-Serif;

}
p {
    line-height: 1.6em;
    text-indent: 6%;
}
/* Navigation Styles*/

.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.navbar__menu #navbar__list {
    padding-left: 0;
    margin: 0;
    text-align: right;
}
.navbar__menu li {
    display: inline-block;
}
.navbar__menu .menu__link {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin: 5% auto;
   
}
.navbar__menu .menu__link:hover {
    color: #0d6efd;
    transition: ease 0.3s all;
}
.navbar__menu .item-active-class {
    background: #0d6efd;
    transition: ease 0.3s all;
    border-radius:20% ;
}
.navbar__menu .item-active-class:hover {
    color: #000;

}

/* ---- Section Styles ---- */

section {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    background: linear-gradient(45deg, #48dbfb, #dff9fb, #dff9fb, #dff9fb);
    margin-bottom: 1.5rem;
    padding: 1.5rem 2.25rem;
}
section.your-active-class {
    background: #48dbfb;
}
section.hide {
    opacity: 0;
}
section.show {
    opacity: 1;
}
section:hover {
    box-shadow: 0.1vw 0.1vw 2vw #1e90ff;
}
section .photo {
    display: flex;
    justify-content: center;

}
section img {
    border-radius: 0% 15%;
}
.top-iCon{
    display: none;
    position: fixed;
    bottom: 10%;
    right: 2%;
    color: #74b9ff;
}
.top-iCon:hover{
    color: #0984e3;
}
/* ---- Footer Styles ---- */
.page__footer {
    background: #dff9fb;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.page__footer a {
    color: #74b9ff;
    text-decoration: none;
}

.page__footer a:hover {
    color: #0984e3;
}

.page__footer ul {
    display: flex;
    justify-content: end;
}

.page__footer li {
    list-style: none;
}

/* ---- Media Queries ---- */

@media only screen and (min-width: 320px)  { 
    h1 {
        font-size: 2.5em;
    }
    h2{
        font-size: 1em;
    } 
    p {
        font-size: 0.4em;
     }
     section{
         width: 100%;
     }
     .top-iCon{
        font-size: 1em;
    }
     .landing__container {
        max-width: 40em;
        padding: 1em;
    }
    section img {
        width: 100%;
    }
    .page__footer {
        padding: 1em;
    }
    .page__footer p {
        font-size: 0.3em;
    }
    .page__footer li {
        font-size: 0.5em;
        margin: auto 4%;
    }
    .icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar__menu .menu__link {
        font-size: 0.8em;
        padding: 0.2em;

    }
    .navbar__menu li {
        margin: auto 2%;
    }

    
}
@media only screen and (min-width: 768px)  { 
    h1 {
        font-size: 6em;

    }
    h2{
        font-size: 3em;
    }
   
    p {
     font-size: 1em;
    
    }
    section{
        width: 80%;
    }
    .top-iCon{
        font-size: 2em;
    }
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
    section img {
        width: 50%;
    }
    .page__footer {
        padding: 1.5em;
    }
    .page__footer p {
        font-size: 1.2em;
    }
    .page__footer li {
     font-size: 1.5em;
        margin: auto 2%;
    }
    .navbar__menu .menu__link {

        font-size: 1em;
        padding: 0.8em;

    } 
    .navbar__menu li {
        margin: auto 1%;
    }
   
}
